$white: #FFFFFF;
$dark-grey: #444444;
$blue: #2567C2;
$green: #2E7D32;
$red: #A90707;
$medium-grey: #BDBDBD;
$black: #000000;

.red {
    color: $red;
}

.red-bg {
    background-color: $red;
}

.dark-grey {
    color: $dark-grey;
}

.dark-grey-bg {
    background-color: $dark-grey;
}

.white {
    color: $white;
}

.white-bg {
    background-color: $white;
}

.blue {
    color: $blue;
}

.blue-bg {
    background-color: $blue;
}

.green {
    color: $green;
}

.green-bg {
    background-color: $green;
}