@import 'variables';
@import 'colours';
@import 'mixins';

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.icon-sm {
    font-size: $icon-sm-size;
    margin-left: 10px;
}

.icon-circle-wrapper {
    
    width: $icon-circle-line-height;
    height: $icon-circle-line-height;
    border-radius: 100%;
    
    .icon-circle {    
        text-align: center;
        line-height: $icon-circle-line-height;
        font-size: $icon-circle-size;
        color: white;
        margin-left: -5px;
    }
}

.divider {
    height: 1px;
    margin: 20px 0;
    background: $medium-grey;
}

.mt20 {
    margin-top: 20px;
}

.navbar {
    padding: 30px;
    
    .navbar-header {
        .navbar-toggle {
            margin: 0;
        }
        
        .logo-vert {
            height: $logo-vertical-height;
        }

        .logo-horz {
            height: $logo-horizontal-height;
        }
    }
    
    .navbar-collapse {
        border: none;
        
        .navbar-nav {
            margin: 0;
            
            .icon-lg {
                font-size: $icon-lg-size;
            }

            .icon-md {
                font-size: $icon-md-size;
                line-height: $icon-lg-size;
            }
            
            p {
                font-size: $menu-font-size;
                text-align: center;
                line-height: $icon-lg-size;
            }

            li {
                margin: auto 20px;
                
                a {
                    padding: 0;
                }
            }
        }
    }
}


$cards: (
    panel-login: $blue,
    panel-register: $green,
    panel-chg-pass: $black,
    panel-folders: $black,
    panel-upload: $green,
    panel-list-view: $blue,
    panel-manage-subs: $black
);

@each $panel, $colour in $cards {
    ##{$panel} {
        
        .card-title {
            color: $colour;
        }
        
        .form-group {
            &.is-focused label.control-label {
                color: $colour;
            }

            .form-control {
                background-image: linear-gradient($colour, $colour), linear-gradient(#D2D2D2, #D2D2D2);
            }
        }

        .checkbox input[type=checkbox]:checked + .checkbox-material .check {
            color: $colour;
            border-color: $colour;

            &:before{
                color: $colour;
            }
        }
        .btn.btn-raised.btn-main, .btn.btn-fab.btn-fab-mini {
            background-color: $colour;
        }
    }
}



.panel {
    padding: 30px 20px;
    margin-bottom: 100px;
    
    .card-title {
        margin: 0;
        font-size: $card-title-font-size;
        text-transform: uppercase;
    }
    
    .panel-body {
        margin: 20px 0 0;
        padding: 0;
        
        .form-group {
            padding: 0;
            margin: 20px 0 0;
            
            .control-label 
            {
                font-size: $label-font-size;
                color: $medium-grey;
            }
            
            .select-label {
                margin: 0;
            }
        }
        
        .btn {
            margin: 0;
            padding: 8px 20px;
        }
        
        .btn-link {
            margin: 0;
            padding: $icon-sm-size 0 0;
            font-size: $btn-font-size;
        }
        
        .btn.btn-raised {
            color: $white;
            font-weight: normal;
            font-size: $btn-font-size;
            line-height: $icon-sm-size;
            
            i.material-icons {
                vertical-align: sub;
            }
            
            &#btn-register {
                background-color: $green;
            }
        }
    }
}

#panel-upload, #panel-home-upload {
    margin-bottom: 30px;
    
    &.panel {
        padding: 20px !important;
    }
    
    .card-title {
        line-height: $icon-circle-line-height;
    }
    
    a:hover {
        text-decoration: none;
    }
}

#panel-home-upload.card-title {
    color: $black;
}

#panel-manage-subs {
    overflow-x: auto;
    
    .nav {
        background-color: $white;
        border: none;
    }
    
    li.active {
        border-bottom: 2px solid $black;
    }
    
    a {
        color: $black !important;
    }
    
    thead {
        margin: 0;
        border-top: 1px solid $medium-grey;
        border-bottom: 1px solid $medium-grey;
    }
    
    th {
        padding: 10px inherit;
        font-size: $label-font-size;
        font-weight: normal;
        color: $medium-grey;
    }
    
    th,td {
        border: none;
        border-bottom: 1px solid $medium-grey;
    }
    
}

.list-item {
    display: block;
    
    .item-icon {
        margin-top: 5px;
    }
    
    .item-title {
        font-size: $folder-title-font-size;
        font-weight: 300;
        margin: 0;
        padding: 5px 0;
        color: black;
        @include ellipsis();
    }
    
    .item-description {
        font-size: $folder-description-font-size;
        color: $medium-grey;
        @include ellipsis();
    }
    
    .item-link {
        margin-top: 10px;
    }
    
    .folder-title {
        font-size: $folder-title-font-size;
        font-weight: bold;
        line-height: $icon-circle-line-height;
        margin: 0;
        padding: 5px 0;
        color: black;
    }
    
    .item-date {
        font-size: $folder-description-font-size;
        color: $medium-grey;
        line-height: $icon-circle-line-height;
        white-space: nowrap;
    }
}

.list-item-folder {
    padding-bottom: 5px;
}

.item-divider {
    clear: both;
    margin: 5px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $footer-height;
    
    p {
        margin: 17px auto;
    }
}