// Dimensions
$logo-vertical-height: 180px;
$logo-horizontal-height: 120px;
$footer-height: 40px;

// Fonts
$icon-lg-size: 48px;
$icon-md-size: 36px;
$icon-sm-size: 16px;
$icon-circle-size: 16px;
$icon-circle-line-height: 36px;
$menu-font-size: 20px;
$card-title-font-size: 20px;
$btn-font-size: 12px;
$label-font-size: 14px;
$folder-title-font-size: 16px;
$folder-description-font-size: 12px;