// Dimensions
$logo-vertical-height: 210px;
$logo-horizontal-height: 120px;
$footer-height: 50px;

// Fonts
$icon-lg-size: 48px;
$icon-sm-size: 16px;
$menu-font-size: 20px;
$card-title-font-size: 20px;