.red {
  color: #A90707;
}

.red-bg {
  background-color: #A90707;
}

.dark-grey {
  color: #444444;
}

.dark-grey-bg {
  background-color: #444444;
}

.white {
  color: #FFFFFF;
}

.white-bg {
  background-color: #FFFFFF;
}

.blue {
  color: #2567C2;
}

.blue-bg {
  background-color: #2567C2;
}

.green {
  color: #2E7D32;
}

.green-bg {
  background-color: #2E7D32;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

.icon-sm {
  font-size: 16px;
  margin-left: 10px;
}

.divider {
  height: 1px;
  margin: 20px 0;
  background: #BDBDBD;
}

.mt20 {
  margin-top: 20px;
}

.navbar {
  padding: 30px;
}

.navbar .navbar-header .navbar-toggle {
  margin: 0;
}

.navbar .navbar-header .logo-vert {
  height: 180px;
}

.navbar .navbar-header .logo-horz {
  height: 120px;
}

.navbar .navbar-collapse {
  border: none;
}

.navbar .navbar-collapse .navbar-nav {
  margin: 0;
}

.navbar .navbar-collapse .navbar-nav .icon-lg {
  font-size: 48px;
}

.navbar .navbar-collapse .navbar-nav .icon-md {
  font-size: 36px;
  line-height: 48px;
}

.navbar .navbar-collapse .navbar-nav p {
  font-size: 20px;
  text-align: center;
  line-height: 48px;
}

.navbar .navbar-collapse .navbar-nav li {
  margin: auto 20px;
}

.navbar .navbar-collapse .navbar-nav li a {
  padding: 0;
}

#panel-login .card-title {
  color: #2567C2;
}

#panel-login .form-group.is-focused label.control-label {
  color: #2567C2;
}

#panel-login .form-group .form-control {
  background-image: linear-gradient(#2567C2, #2567C2), linear-gradient(#D2D2D2, #D2D2D2);
}

#panel-login .checkbox input[type=checkbox]:checked + .checkbox-material .check {
  color: #2567C2;
  border-color: #2567C2;
}

#panel-login .checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
  color: #2567C2;
}

#panel-login .btn.btn-raised.btn-main {
  background-color: #2567C2;
}

#panel-register .card-title {
  color: #2E7D32;
}

#panel-register .form-group.is-focused label.control-label {
  color: #2E7D32;
}

#panel-register .form-group .form-control {
  background-image: linear-gradient(#2E7D32, #2E7D32), linear-gradient(#D2D2D2, #D2D2D2);
}

#panel-register .checkbox input[type=checkbox]:checked + .checkbox-material .check {
  color: #2E7D32;
  border-color: #2E7D32;
}

#panel-register .checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
  color: #2E7D32;
}

#panel-register .btn.btn-raised.btn-main {
  background-color: #2E7D32;
}

#panel-chg-pass .card-title {
  color: #000000;
}

#panel-chg-pass .form-group.is-focused label.control-label {
  color: #000000;
}

#panel-chg-pass .form-group .form-control {
  background-image: linear-gradient(#000000, #000000), linear-gradient(#D2D2D2, #D2D2D2);
}

#panel-chg-pass .checkbox input[type=checkbox]:checked + .checkbox-material .check {
  color: #000000;
  border-color: #000000;
}

#panel-chg-pass .checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
  color: #000000;
}

#panel-chg-pass .btn.btn-raised.btn-main {
  background-color: #000000;
}

.panel {
  padding: 30px 20px;
  margin-bottom: 100px;
}

.panel .card-title {
  margin: 0;
  font-size: 20px;
}

.panel .panel-body {
  margin: 20px 0 0;
  padding: 0;
}

.panel .panel-body .form-group {
  padding: 0;
  margin: 20px 0 0;
}

.panel .panel-body .form-group .control-label {
  font-size: 14px;
}

.panel .panel-body .form-group .select-label {
  margin: 0;
}

.panel .panel-body .btn {
  margin: 0;
  padding: 8px 20px;
}

.panel .panel-body .btn-link {
  margin: 0;
  padding: 16px 0 0;
  font-size: 12px;
}

.panel .panel-body .btn.btn-raised {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.panel .panel-body .btn.btn-raised i.material-icons {
  vertical-align: sub;
}

.panel .panel-body .btn.btn-raised#btn-register {
  background-color: #2E7D32;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

.footer p {
  margin: 17px auto;
}
