.red {
  color: #A90707;
}

.red-bg {
  background-color: #A90707;
}

.dark-grey {
  color: #444444;
}

.dark-grey-bg {
  background-color: #444444;
}

.white {
  color: #FFFFFF;
}

.white-bg {
  background-color: #FFFFFF;
}

.blue {
  color: #2567C2;
}

.blue-bg {
  background-color: #2567C2;
}

.green {
  color: #2E7D32;
}

.green-bg {
  background-color: #2E7D32;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

.icon-lg {
  font-size: 48px;
}

.icon-sm {
  font-size: 16px;
}

.navbar {
  padding: 30px;
}

.navbar .navbar-header .navbar-toggle {
  margin: 0;
}

.navbar .navbar-header .logo-vert {
  height: 210px;
}

.navbar .navbar-header .logo-horz {
  height: 120px;
}

.navbar .navbar-collapse {
  border: none;
}

.navbar .navbar-collapse .navbar-nav {
  margin: 0;
}

.navbar .navbar-collapse .navbar-nav p {
  font-size: 20px;
  text-align: center;
  line-height: 48px;
}

.navbar .navbar-collapse .navbar-nav li {
  margin: auto 20px;
}

.navbar .navbar-collapse .navbar-nav li a {
  padding: 0;
}

.panel-body {
  padding: 30px 20px;
}

.panel-body h2 {
  margin: 0;
  font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

.footer p {
  margin: 17px auto;
}
